$shcolor: #1C8B9C;
$dgray: #333333;
@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
// @include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6dsn79');
  src:  url('../fonts/icomoon.eot?6dsn79#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6dsn79') format('truetype'),
    url('../fonts/icomoon.woff?6dsn79') format('woff'),
    url('../fonts/icomoon.svg?6dsn79#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo .path1:before {
  content: "\e900";
  color: rgb(35, 24, 21);
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -3.9521484375em;
  color: rgb(35, 24, 21);
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -3.9521484375em;
  color: rgb(35, 24, 21);
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -3.9521484375em;
  color: rgb(28, 139, 156);
}
.icon-logo .path5:before {
  content: "\e904";
  margin-left: -3.9521484375em;
  color: rgb(35, 24, 21);
}
.icon-logo .path6:before {
  content: "\e905";
  margin-left: -3.9521484375em;
  color: rgb(35, 24, 21);
}
.icon-logo .path7:before {
  content: "\e906";
  margin-left: -3.9521484375em;
  color: rgb(28, 139, 156);
}
.icon-logo .path8:before {
  content: "\e907";
  margin-left: -3.9521484375em;
  color: rgb(28, 139, 156);
}

#toplogo{
	font-size: 2em;
  &::after {
    content: "";
    display: block;
    width: 0;
    transition: width 0.3s;
    border-bottom: 1px solid $shcolor;
  }
  &:hover{
    color: $shcolor;
    &::after{
      width: 103%;
    }
  }
}
html,body{
  height: 100%;
}
.topmenu{
	color: #333333;
	font-family: "DIN Next W01 Bold", sans-serif;
	transition: all 0.5s ease;
  	display: inline-block;
  	font-size: 1.2em;
	&::after {
  	content: "";
  	display: block;
  	width: 0;
  	transition: width 0.3s;
  	border-bottom: 4px solid $shcolor;
	}
	&:hover{
		color: $shcolor;
		&::after{
			width: 100%;
		}
	}
}
.topdrop{
	color: #333333;
	font-family: "DIN Next W01 Medium", sans-serif;
	transition: all 0.3s ease;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
	&:hover{
		color: $shcolor;
    background-color: rgba(22,147,165,0.1);
	}
}
.top-bar-right{
  transform: translateY(7px);
}
.top-bar{
  z-index: 100;
  ul{
    background-color: rgba(0,0,0,0);
  }
}
.orbit-next, .orbit-previous{
  transition: all 0.5s ease;
  border-radius: 50%;
}
.orbit-container{
  border-radius: 5px;
}
.orbit-bullets button{
  transition: all 0.5s ease;
}
#Homemenu{
  transform: translateY(2px);
}
.is-dropdown-submenu{
  border-radius: 5px;
}
.accordion-title{
  font-family: "DIN Next W01 Bold";
  font-size: 2rem;
  text-align: center;
  transition: all 0.3s ease;
  &::after {
    margin: 0 auto;
    content: "";
    display: block;
    width: 0;
    transition: width 0.3s;
    border-bottom: 4px solid $shcolor;
  }
  &:hover{
    color: $shcolor;
    &::after{
      width: 15rem;
    }
  }
  &:focus{
    color: $shcolor;
    &::after{
      width: 300px;
    }
  }
}
.accordion-title::before{
  display: none;
}
#prname{
  font-family: "Bodoni W01 Book Italic", Bodoni, Palatino, garamond, georgia, serif;
  font-style: italic;
  transform: skew(0deg,-5deg);
  background: linear-gradient(transparent 50%, rgba(108,223,234,0.5) 20%);
  width: 300px;
  margin: 0 auto;
  color: $dgray;
  text-align: center;
}
#prname2{
  font-family: "新ゴ B", "Shin Go Bold", sans-serif;
  transform: skew(-7deg,-5deg) translateY(-10px);
  margin: 0 auto;
  color: $dgray;
  text-align: center;
}
#footer{
  animation: ftcolor 8s infinite;
  background-color: $shcolor;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin: 0;
  p{
    text-align: center;
    color: white;
    font-family: "DIN Next W01 Bold", sans-serif;
    margin: 0;
    border-bottom: dotted 2px white;
  }
}
// .accordion-item{
//   border-top: $shcolor solid 1px;
//   border-bottom: $shcolor solid 1px;
// }
@keyframes ftcolor {
  0% { background-color: $shcolor; }
  20% { background-color: #2A8FBD; }
  40% { background-color: #F23A65; }
  60% { background-color: #FBB829; }
  80% { background-color: #77CCA4; }
  100% { background-color: $shcolor; }
}
#bgr1{
  background: linear-gradient(-10deg, rgba(0,255,183,0.6), rgba(0,162,255,0.6)), url(../img/bgr2.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
}
#titletext{
  color: white;
  text-align: center;
}
.shadowin{
  border-radius: 5px;
  margin: 4rem auto;
  box-shadow:0px 4px 10px 1px #ddd;
}
#loadbg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.midashi{
  text-align: center;
  h5{
    border: 3px solid;
    display: inline-block;
    padding: 4px 10px 0px;
    }
}
.sub{
  margin-bottom: 0;
  text-align: center;
  color: $shcolor;
}
.subsub{
  text-align: center;
  color: $shcolor;
}
.shcontents{
  padding: 3rem 10%;
}
.list{
  font-family: "DIN Next W01 Bold";
}