<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">ShiftA</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><a href="#">Home</a></li>
      <li>
        <a href="#">Workshift</a>
        <ul class="menu vertical">
          <li><a href="#">Leatest:2017 March</a></li>
          <li><a href="#">All Workshifts</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
        <ul class="menu vertical">
          <li><a href="#">Leatest:Issue 01</a></li>
          <li><a href="#">All Portfolios</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>